@model Equipe

@{
    ViewData["Title"] = "Editar";
    
}

<link rel="stylesheet" href="~/css/equipes-editar.css">

@* <h1>Edição de equipe</h1>

<form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data">

    <input placeholder="" type="hidden" name="IdEquipe" value=@ViewBag.Equipe.IdEquipe >

    <label for="">Nome</label>
    <input  type="text" name="Nome" required  value = "@ViewBag.equipe.Nome" >

    <label for="">Imagem</label>
    <input  type="file" name="Imagem" value= "@ViewBag.equipe.Imagem" >

    <button type="submit" >ATUALIZAR</button> *@


@if (ViewBag.Login == null)
{
    
        <section class="banner">

            <article class="container-grid equipes-flex container-grid-d">

                <div class="border-gradient-e">

                    <form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data" class="box-equipes">

                        <h1>Acesso Negado</h1>

                        <h1>Por favor, realize o login para ter acesso a essa página.</h1>

                    </form>

                </div>
            </article>

        </section>
   
}
else{

<section class="banner">

            <article class="container-grid equipes-flex container-grid-d">

                <div class="border-gradient-e">

                    <form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data" class="box-equipes">
                    <input placeholder="" type="hidden" name="IdEquipe" value=@ViewBag.Equipe.IdEquipe >
                        <h1>Editar equipe:  <span style="color: #f9aa01;" >@ViewBag.equipe.Nome</span></h1>
                        <hr>

                        <div class="input-gradient-equipes">
                            <input type="text" placeholder="Digite o nome da sua equipe..." name ="Nome" value="@ViewBag.equipe.Nome" required>
                        </div>
            <div>
                 
            </div>

                            <div class="image-equipe">
                                <label for="input-file"></label>
                                 <input id = "input-file" name="Imagem" type="file" value= "@ViewBag.equipe.Imagem" accept="image/png, image/jpeg">
                                 </input>

                            </div>
                        
                        <button class="cadastro" type="submit">Atualizar</button>

                    </form>

                </div>
            </article>
</section>
}