@model Jogador

@{
    ViewData["Title"] = "Editar";
}

<link rel="stylesheet" href="~/css/jogadores-editar.css">



@if (ViewBag.Login == null)
{
    
        <section class="banner">

            <article class="container-grid equipes-flex container-grid-d">

                <div class="border-gradient-e">

                    <form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data" class="box-equipes">

                        <h1>Acesso Negado</h1>

                        <h1>Por favor, realize o login para ter acesso a essa página.</h1>

                    </form>

                </div>
            </article>

        </section>
   
}

else
{

<section class="banner">

        <article class="container-grid jogadores-flex container-grid-d">

            <div class="border-gradient-j">

                <form class="box-jogadores" method="post" action="@Url.Action("Atualizar")">
                    <h1>Editar jogador: <span style="color: #f9aa01;" >@ViewBag.Jogador.Nome</span></h1>
                    <hr>

                    <div class="input-gradient-jogadores">

                        <input placeholder="" type="hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador" >

                        <select name="IdEquipe" id="IdEquipe" style="width: 100%;">

                            <option value="0" disabled selected>Selecione a equipe</option>

                            @foreach (Equipe equipe in ViewBag.Equipe)
                            {
                                <option value="@equipe.IdEquipe" style="color: black;">@equipe.Nome</option>
                            }

                        </select>
                    </div>

                    <div class="input-gradient-jogadores">
                        <input type="text" placeholder="Digite o nome do jogador..." type="text" name="Nome" required value = "@ViewBag.Jogador.Nome">
                    </div>

                    <div class="input-gradient-jogadores">
                        <input type="email" placeholder="Digite o email do jogaodor..." name="Email" required value= "@ViewBag.Jogador.Email"> 
                    </div>

                    <div class="input-gradient-jogadores">
                        <input type="password" placeholder="Digite a senha..." name="Senha" required value ="@ViewBag.Jogador.Senha" id="senha">
                        <input style="width:40px; height: 15px;" type="checkbox" onclick="myFunction()">
                    </div>


                    <button type="submit" class="cadastro">Atualizar</button>

                </form>
            </div>
        </article>

</section>
}
